<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Registro de Pokemons </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="center">
  <ion-card>
    <img
      src="https://images.wikidexcdn.net/mwuploads/wikidex/thumb/6/63/latest/20160827224211/Sylveon.png/1200px-Sylveon.png"
      width="250"
      height="220"
    />
    <ion-card-header>
      <ion-card-subtitle>Descripción de pokemon</ion-card-subtitle>
      <ion-card-title>Sylveon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Sylveon es un Pokémon de tipo hada introducido en la sexta generación. Se
      trata de una de las ocho posibles evoluciones de Eevee. Es un Pokémon
      adelantado.
    </ion-card-content>
    <ion-card-content>
      <ion-label>Tipo: </ion-label>
      <ion-badge color="danger">hada</ion-badge>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img
      src="https://assets.pokemon.com/assets/cms2/img/pokedex/full/135.png"
      width="250"
      height="220"
    />
    <ion-card-header>
      <ion-card-subtitle>Descripción de pokemon</ion-card-subtitle>
      <ion-card-title>Jolteon</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Jolteon es un Pokémon de tipo eléctrico introducido en la primera
      generación. Es una de las ocho evoluciones posibles de Eevee.
    </ion-card-content>
    <ion-card-content>
      <ion-label>Tipo: </ion-label>
      <ion-badge color="warning">electrico</ion-badge>
    </ion-card-content>
  </ion-card>
</ion-content>
